* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

body{
    font-family: 'Antic Slab', serif;
    color:White;
  }
  .contenedor img{
    height: 100%;
    width: 100%;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }
  .header, footer{
    grid-column:1/4;
  }
  .header{
    display: flex;
    padding: 5px;
    background-color: #0476d9;
    flex-direction: row;
    justify-content:space-between; 
  }
  
  .header h1{
     font-size: 50px;
  }
  .header nav{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
  }
  .header nav a{
    color:white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
  }
  .header nav a:hover{
    padding: 14px 20px;
    text-decoration: none;
    background-color:#0597f2;
    border-radius: 2px;
  }
  .menu-toggle{
    display: none;
    justify-content:end;
    align-items: center;
    color: rgb(245, 243, 243);
    font-size: 40px;
    cursor: pointer;
    padding: 5px;
    line-height:50px;
  }
  .show{
    height: 50px !important;
  }
  #idcarrusel{
    grid-column: 1/4;
  }
  
/* Slideshow container */
#idcarrusel{
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: ;
}
#idcarrusel img{
  border-radius: 3px;
  height: 500px;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.main{
    grid-column: 1/4;
}

.main{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  background-color: rgb(139, 156, 201);
  height: auto;
}
.nosotros {
  background-color: rgb(111, 112, 109);
  height: auto;
  width: 33.33%;
  padding: 15px;
  margin: 5px;
  text-align: justify;
  font-size: 18px;
}
.main, h2{
  text-align: center;
  font-size: 20px;
}
.producto {
  background-color: rgb(111, 112, 109);
  height: auto;
  width: 33.33%;
  padding: 15px;
  margin: 5px;
  text-align: justify;
  font-size: 18px;
}
.servicio{
  background-color: rgb(111, 112, 109);
  height: auto;
  width: 33.33%;
  padding: 15px;
  margin: 5px;
  text-align: justify;
  font-size:18px
}
.boton{
  background-color: rgb(44, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius:3px;
}
.boton a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
footer{
    background-color: #0476d9;
    color:white;
    height:auto;
}
.footer h2{
    height: 20px;
  }
  .pie{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    justify-content: space-around;
  }
  .pie> hr{
    display: none;
  }
  #idnavegacion a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  #idnavegacion a:hover{
    padding: 10px 15px;
    text-decoration: none;
    background-color:#0597f2;
  }
  #idcontacto{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  #idcontacto p{
    margin: 0;
  }
  #idcontacto .material-icons-outlined{
    margin: 5px;
  }
  #idboletin{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
  }
  #idboletin #boton{
    display: flex;
    width: 200px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  #idboletin #boton_{
    padding: 5px;
  }
  #idsiguenos{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  #idsiguenos i{
    margin: 5px;
  }

  .pie1{
    display: flex;
    flex-direction: row;
    background-color: #0597f2;
    justify-content:center; 
  }
  .vl{
    border-left: 1px solid white;
    height: auto;
    margin: 2px;
  }
  footer a{
    color: white;
    text-decoration: none;
  }

  /*media query*/
  @media only screen and (max-width: 600px) {
    .carrusel{
    display: none;
    }
    .titulo{
      display: none;
    }
    .header{
      display: flex;
      height: 60px;
    }
    .img{
      height: 55px;
    }
    .menu-toggle{
      display: block;
    }
    .menu-toggle:hover{
      background-color: rgb(37, 82, 206);
    }
    #idmenu{
      background: #2a679c;
      position:absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: .3s ease-out;
    }
      #idmenu a{
        font-size: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #idmain{ 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #idmain> article{
      width: 100%;
    }
    .pie{
       display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .pie> hr{
      display:inline-flex;
      width: 90%;
    }
    .pie> section{
      width: 100%;
    }
  }